{% extends "base.html" %}
{% block content %}
   <div class="content-section">
      <div class="media">
         <img class="rounded-circle account-img" src="{{ user.profile.image.url }} " style="height: 100px; width: 70px; margin-left: 20px; margin-right: 20px;">
         <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secoundary">{{ user.email }}</p>
         </div>
      </div>
      <div class="content-section" style="max-width: 500px; margin: auto; padding: 2cm; border: 1px solid #ccc; border-radius: 10px; background-color: #343a40; margin-bottom: 20px;">
         <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
               <legend class="border-bottom mb-4" style="font-size: 1.5em; color: #ccc; font-weight: bold;">Profile Info</legend>
               <div class="form-group" style="color: #ccc;">
                  <label for="username">Username:</label>
                  {{ u_form.username }}
                  <small class="form-text text-muted">Choose a new username.</small>
              </div>
              <div class="form-group" style="color: #ccc;">
                  <label for="email">Email:</label>
                  {{ u_form.email }}
                  <small class="form-text text-muted">Choose a new email.</small>
               </div>
              <div class="form-group" style="color: #ccc;">
                  <!-- <label for="username">Username:</label> -->
                  {{ p_form }}
                  <small class="form-text text-muted">Choose a new username.</small>
               </div>
            </fieldset>
            <div class="form-group">
               <button type="submit" class="btn btn-success">Update</button>
            </div>
         </form>
     </div>
   </div>
{% endblock content %}